# dev-only-base
NODE_ENV=development
SERVICE_TYPE=api
SERVICE_NAME= monitor-service
MONITOR_SERVICE_PORT= 5020
CLOUD_SERVICE_PROVIDER=LOCAL
ENABLE_AUDIT=false
AWS_REGION=us-east-1
AWS_XRAY_DAEMON_ADDRESS= xray-service.default:2000
CERTIFICATE_PRIVATE_KEY= CERTIFICATE
PUBLIC_CERTIFICATE= CERTIFICATE



# for local development we use the same database for all services
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USER_USERNAME=dev_admin
TYPEORM_USER_PASSWORD=secret
TYPEORM_USER_DATABASE=olympus
DB_ROTATING_KEY=false
DB_CONNECTION_REFRESH_MINUTES=1
DB_SSL_ENABLED=false

# kafka
KAFKA_URLS_PTS=localhost:9091
KAFKA_SSL_ENABLED_PTS=false
SASL_USERNAME_PTS=
SASL_PASSWORD_PTS=
KAFKA_RETRIES=2
KAFKA_RETRY_POLICY_PTS=4

KAFKA_URLS=localhost:9092
KAFKA_SSL_ENABLED=false
SASL_USERNAME=
SASL_PASSWORD=
KAFKA_RETRY_POLICY=4

KAFKA_TOPIC_PTS=mrn.event.daledev.transactions.proccesed #En ambiente STG seria mrn.event.dalestg.transactions.proccesed 

# services
USER_SERVICE_URL=http://localhost:5001
ENROLLMENT_NP_SERVICE_URL=http://localhost:5016
CONFIGURATION_SERVICE_URL=
CARD_SERVICE_URL=

# redis
REDIS_HOST=xxxx
REDIS_PORT=xxxx
REDIS_TLS_ENABLED=xxxx
REDIS_AUTH_TOKEN=xxxx
REDIS_TTL=60

# crm
CRM_SERVICE_URL=xxxx
CRM_USERNAME=xxxx
CRM_PASSWORD=xxxx

#---- NAMES SECRETS MANAGER -----
SECRET_PATH_GENERATE_KEY_SYMETRIC_AUDMON=secret_generate_keys_symetric-924vak

#---- PATH SECRET MANAGER LOCAL -----
ENDPOINT_URL_SECRETS_MANAGER = http://localhost:5007
SECRET_ACCESS_KEY=PassServiceS3
SECRET_KEY_ID=masoud

# SQS
SQS_URL=http://localhost:4566/000000000000/sample-queue
SQS_TRANSACTION_LOG=

#---- BaseEventLog -----
EVENT_LOG_VERSION=xxxx
EVENT_LOG_MNEMONIC=xxxx
EVENT_LOG_DEBITCODE=xxxx
EVENT_LOG_CREDITCODE=xxxx
EVENT_LOG_DEBITNAME=xxxx
EVENT_LOG_CREDITNAME=xxxx
EVENT_LOG_APPLICATION=xxxxx
EVENT_LOG_CHANNEL=xxxxx

#---- DYNAMODB - USO LOCAL----
DYNAMODB_URL=http://localhost:8000
